/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
ul{
    list-style:circle inside;
}
h1{
    font-size: x-large;
    font-weight: 1vh;
}
body{
    /* border-style:double; */
    border-color: rgb(141, 140, 131);
    border-width: 0.5vh;
    border-radius: 2vh;
    font-size:small;
}
.line{
    width: 60vw;
    border-top: 0.001vh solid rgb(47, 49, 47,0.6);
    margin-left: 20vw;
    margin-top: 0.6vh;
    margin-bottom: 0.6vh;
}
.details{
    display: flex;
    justify-content: center;
    font-size: small;
    font-family: 'Roboto', sans-serif;
    margin: 1vh;
}
main{
    display: flex;
    justify-content: center;
    margin: 5vh;
}
header{
    display: flex;
    justify-content: center;
    color:black;
    font-size: x-large;
    margin: 1vh;
}

.b1{
    width:49vw;
    /* border:0.24vh solid rgb(141, 140, 131,0.363); */
    margin:0 1vw;
    border-radius: 1vh;
    padding: 2vh;
}

.b2{
    width:49vw;
    /* border:0.24vh solid rgba(141, 140, 131, 0.363); */
    margin:0 1vw;
    border-radius: 1vh;
    padding: 2vh;
}
.b3{
    border-left: 0.001vh solid rgb(47, 49, 47,0.6);
    height: 75vh;
}
.u{
    font-size:large;
    font-family: 'Roboto', sans-serif;
}
footer{
    display: flex;
    justify-content: center;
}